In [4]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv('train.csv')

In [7]:
data.describe()

                 x           y
count   700.000000  699.000000
mean     54.985939   49.939869
std     134.681703   29.109217
min       0.000000   -3.839981
25%      25.000000   24.929968
50%      49.000000   48.973020
75%      75.000000   74.929911
max    3530.157369  108.871618

In [10]:
data = data.dropna()

In [11]:
data

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[699 rows x 2 columns]

In [13]:
x = data['x']
y = data['y']

In [19]:
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(x, y, train_size=0.7)
print(X_train.shape)
print(X_test.shape)

(489,)
(210,)

In [23]:
def fit(x_train, y_train):
    num = x_train * y_train.mean() - x_train.mean() * y_train.mean()
    den = (x_train ** 2).mean() - x_train.mean() ** 2
    m = num/den
    c = y_train.mean() - m * x_train.mean()
    return m, c

In [27]:
def predict(x, m, c):
    return m * x + c

def score(y_truth, t_pred):
    u = ((y_truth - y_pred)**2).sum()
    v = ((y_truth - y_truth.mean())**2).sum()
    return 1 - u/v

def cost(x, y, m, c):
    return ((y - m * x - c)**2).mean()

In [34]:
m, c = fit(X_train, Y_train)
#test data
y_pred = predict(X_test, m, c)
print('Test Score: ', score(Y_test, y_pred))

#train data
y_train_pred = predict(X_train, m, c)
print('Train Score: ', score(Y_train, y_train_pred))
print('M, C', m, c)
print('Cost for train set: ', cost(X_train, Y_train, m, c))

Test Score:  1.0
Train Score:  1.0
M, C 492    2.120046
461   -2.166721
244    0.498026
27    -1.703286
254    0.961460
         ...
246    1.019389
682   -0.892277
183   -0.312984
29    -0.081267
508    2.931055
Name: x, Length: 489, dtype: float64 492    -55.329208
461    156.449314
244     24.803206
27     133.554339
254      1.908231
          ...
246     -0.953641
682     93.488132
183     64.869413
29      53.421925
508    -95.395415
Name: x, Length: 489, dtype: float64
Cost for train set:  5113.467011078224